* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    font-family: Calibri;
}

input:hover {
    border-color:rgba(38, 155, 223, 0.5);
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
}

input:focus {
    outline-color: rgba(38, 155, 223, 1);
}

.language {
   float: right;
   margin: 5px;
   border: 2px solid rgb(38, 155, 223);
   border-radius: 4px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   transition: box-shadow 300ms;
   overflow: hidden;
   position: relative;
   z-index: 1;
}

.down-arrow {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 100px;
    transition: transform 300ms, top 300ms;
    transform-origin: 50% 40%;
}

.language:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.tr-dil {
    display: block;
    padding: 10px;
    padding-right: 50px;
    transition: color 300ms, background-color 300ms;
}

.tr-dil:hover {
    background-color: rgb(38, 155, 223);
    color: #ffffff;
}

.ing-dil {
    display: block;
    padding: 10px;
    padding-right: 50px;
    display: none;
    transition: color 300ms, background-color 300ms;
}

.ing-dil:hover {
    background-color: rgb(38, 155, 223);
    color: #ffffff;
}

.language:hover .ing-dil{
    display: block;
}

.language:hover .down-arrow {
    top: 58px;
    left: 113px;
    transform: rotate(-180deg);
}
.paper {
    margin-top: 50px;
    width: 1050px;
    min-height: 1485px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.kisisel-bilgiler {
    position: relative;
}

.fotograf-bolumu {
    display: inline-block;
    width: 266px;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 30px;
}

#fotograf {
    display: inline-block;
    width: 166px;
    height: 200px;
    background-color: #dddddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin: 50px;
    margin-bottom: 0px !important;
    text-align: center;
    border-radius: 4px;
}

.person-icon {
    color: #555555;
    opacity: 0.4;
    margin-top: 25px;
    width: 90%;
    display: inline-block;
}

.btn-fotograf-yukle {
    padding: 5px;
    color: #333333;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s;
    border: 2px solid rgb(38, 155, 223);
    border-radius: 4px;
    margin-top: 10px;
    transition: color 300ms, background-color 300ms;
}

.btn-fotograf-yukle:hover {
    color: #ffffff;
    background-color: rgb(38, 155, 223);
}

.kisisel-bilgiler-bolumu {
    display: inline-block;
    margin: 30px;
    vertical-align: top;
    width: 525px;
}

#ad-soyad {
    font-size: 30px;
    color: rgb(38, 155, 223);
    text-transform: uppercase;
    padding: 5px;
    margin-top: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}

#ad-soyad:focus {
    outline: 0;
}

.tel-no-div {
    margin-top: 20px;
    width: 50%;
    font-weight: bold;
    float: left;
}

.text-input {
    margin-top: 5px;
    font-size: 15px;
    height: 30px;
    padding: 5px;
    width: 95%;
}

.eposta-div {
    position: relative;
    margin-top: 20px;
    width: 50%;
    font-weight: bold;
    float: left;
    text-align: right;
}

.adres-div {
    margin-top: 20px;
    font-weight: bold;
    float: left;
    width: 100%;
}

#adres {
    width: 100%;
}

.bolum-basligi {
    display: inline-block;
    margin-left: 30px;
    padding: 3px 5px;
    padding-top: 5px;
    font-size: 20px;
    border-left: 3px solid rgb(38, 155, 223);
    border-bottom: 3px solid rgb(38, 155, 223);
    border-right: 3px solid rgb(38, 155, 223);
    border-radius: 4px;
}

.ek-bilgiler {
    position: relative;
    width: 90%;
    margin: 15px auto;
    padding-bottom: 20px;
}

.ek-bilgiler::before {
    content: "";
    border: 2px solid rgb(38, 155, 223);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgb(38, 155, 223);
    border-radius: 10px;
}

.kb {
    padding: 5px 0px;
    position: relative;
}

.kbinput {
    text-indent: 5px;
    padding: 3px;
    position: relative;
}

.kb .kb-baslik {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

.egitim-bilgileri {
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    width: 50%;
}

#egitim-durumu {
    padding: 5px;
}

.okul {
    padding-bottom: 5px;
}
#okul {
    display: inline-block;
    padding: 5px;
    width: 100%;
}

.okul-adi {
    display: inline-block;
    width: 72%;
    position: relative;
}

.okul-bolum {
    margin-top: 5px;
    width: 325px;
    margin-left: 124px;
}

#bolum {
    font-size: 11px;
    padding: 3px;
    width: 78%;
}

.yil {
    padding: 3px;
    font-size: 11px;
    text-align: center;
    width: 80px;
}

.bosluk {
    display: inline;
}

.is-tecrubesi {
    margin-top: 10px;
    margin-left: 40px;
    position: relative;
}

#firma-adi {
    font-weight: bold;
    font-size: 15px;
    width: 45%;
}

.sil-btn {
    color: white;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -15px;
    top: 5px;
    text-align: center;
    vertical-align: center;
    transition: transform 300ms;
    cursor: pointer;
}

.sil-btn:hover {
    transform: scale(1.5);
}

#pozisyon {
    font-size: 15px;
    margin-left: 20px;
    width: 21%;
}

.kurs-bolumu {
    margin-top: 10px;
    margin-left: 40px;
    position: relative;
}

#kss-adi {
    font-weight: bold;
    font-size: 15px;
    width: 45%;
}

#kurum {
    font-size: 15px;
    margin-left: 20px;
    width: 30%;
}

.dil-bolumu {
    margin-top: 10px;
    margin-left: 40px;
    position: relative;
}

#dil {
    font-weight: bold;
    font-size: 15px;
}

#dil-seviye {
    font-size: 15px;
}

#program {
    font-weight: bold;
    font-size: 15px;
}

#prog-seviye {
    font-size: 15px;
}

.ekle {
    font-weight: bold;
    display: inline-block;
    border: 2px solid rgb(38, 155, 223);
    margin-left: 100px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
}

.ekle:hover {
    color: white;
    background-color: rgb(38, 155, 223);
}

#bilgisayar-bilgisi {
    display: none;
}

#hobiler {
    display: none;
}

.yazialani {
    margin-left: 40px;
    margin-top: 10px;
    width: 93%;
    font-size: 20px;
    font-family: Calibri, sans-serif;
}

#ozetbilgi {
    display: none;
}

#referanslar {
    display: none;
}

.bolumekle {
    width: 80%;
    text-align: center;
    margin: auto;
}

.btn-bolumekle {
    width: 33%;
    border: 2px solid rgb(38, 155, 223);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
    margin-top: 5px;
}

.btn-bolumekle:hover {
    background-color: rgb(38, 155, 223);
    color: white;
}

.btn-bolumusil {
    border: 2px solid rgb(38, 155, 223);
    border-radius: 50%;
    fill: black;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 0px;
    vertical-align: center;
    text-align: center;
    cursor: pointer;
    transition: fill 300ms, background-color 300ms;
}

.btn-bolumusil:hover {
    background-color: rgb(38, 155, 223);
    fill: white;
}

.ekle-btn {
    cursor: pointer;
    transition: fill 300ms, color 300ms; 
    z-index: 1;
}

.ekle-btn:hover {
    fill: rgb(38, 155, 223);
    color: rgb(38, 155, 223);
}

#askerlik-durumu-ekle-btn {
    display: none;
    position: relative;
}