* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    font-family: sans-serif;
}

.language {
   float: right;
   margin: 5px;
   padding: 10px 10px;
   padding-right: 48px;
   border: 2px solid rgb(38, 155, 223);
   border-radius: 4px;
   font-weight: bold;
   cursor: pointer;
   transition: box-shadow 300ms;
   overflow: hidden;
   position: relative;
   z-index: 1;
}

.down-arrow {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 100px;
}

.language:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.paper {
    margin-top: 50px;
    width: 1050px;
    height: 1485px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.kisisel-bilgiler {
    position: relative;
}
.kisisel-bilgiler::after {
    content: "";
    border: 1px solid rgb(38, 155, 223);
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 5%;
    border-radius: 10px;
    background: rgb(38, 155, 223);
}

.fotograf-bolumu {
    display: inline-block;
    width: 266px;
    text-align: center;
    padding-bottom: 30px;
    margin-left: 30px;
}

#fotograf {
    display: inline-block;
    width: 166px;
    height: 200px;
    background-color: #dddddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin: 50px;
    margin-bottom: 0px !important;
    text-align: center;
    border-radius: 4px;
}

.person-icon {
    color: #555555;
    opacity: 0.4;
    margin-top: 25px;
    width: 90%;
    display: inline-block;
}

.btn-fotograf-yukle {
    padding: 5px;
    color: #333333;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s;
    border: 2px solid rgb(38, 155, 223);
    border-radius: 4px;
    margin-top: 10px;
    transition: color 300ms, background-color 300ms;
}

.btn-fotograf-yukle:hover {
    color: #ffffff;
    background-color: rgb(38, 155, 223);
}

.kisisel-bilgiler-bolumu {
    display: inline-block;
    margin: 30px;
    vertical-align: top;
}

#isim {
    text-indent: 5px;
    font-size: large;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 30px;
}

#soyisim {
    margin-left: 20px;
    margin-top: 30px;
    font-size: large;
    text-transform: uppercase;
    padding: 5px;
}

.tel-no-div {
    display: inline-block;
    margin-top: 40px;
    width: 49%;
    font-weight: bold;
}

.text-input {
    margin-top: 5px;
    font-size: 15px;
    padding: 3px;
    text-indent: 5px;
}

.eposta-div {
    display: inline-block;
    margin-top: 20px;
    width: 40%;
    margin-left: 13px;
    font-weight: bold;
}

.adres-div {
    margin-top: 10px;
    font-weight: bold;
}

#adres {
    width: 100%;
}
